.App {
  text-align: center;
  background-color: #FAFAFA;
  color: #262626;
}

nav a {
  color: #262626;
  display: inline-block;
  margin: 0 10px;
}

nav a:hover {
  color: #FFA500;
  text-decoration: none;
}